/*--------------------> Responsive Query <------------------ */
/* -------------> Mobile Devices <------------------ */

@media screen  and (max-width: 576px){
    nav,
    .navbar-container ul
    {
        flex-direction: column;
    }
    nav{
        gap: 1rem;
    }
    .logo-container,.navbar-container{
        width: 100%;
    }
    .logo-container{
        justify-content: center;
    }
    .navbar-container ul > li{
        margin-bottom: .8rem;
    }
    .navbar-container ul{
        gap: 0.8rem;
    }
    .nav-icon{
        background-color: #FF3EA5;
        border-radius: 0.5rem;
        padding: 0.5rem 0.9rem;
    }

    /* banner section */
    .banner{ 
        flex-direction: column;
        gap: 1.25rem;
        margin:0 1.5rem;
    }
    .banner-content, .banner-img{
        width: 100%;
    }
    /* Products section */
    .product{
        grid-template-columns: 1fr;
    }
    .item-container{
        margin: 0 1.25rem;
    }
    /* Gallery section */
    .gallery{
        grid-template-columns: 1fr;
        margin: 0 1.25rem;
    }    
}

/* -----------> Tab or Medium Devices <------------------ */

@media screen and (min-width:577px) and (max-width:768px) {
    nav,
    .navbar-container ul
    {
        flex-direction: column;
    }
    nav{
        gap: 1rem;
    }
    .logo-container,.navbar-container{
        width: 100%;
    }
    .logo-container{
        justify-content: center;
    }
    .navbar-container ul > li{
        margin-bottom: .8rem;
    }
    .navbar-container ul{
        gap: 0.8rem;
    }
    .nav-icon{
        background-color: #FF3EA5;
        border-radius: 0.5rem;
        padding: 0.5rem 0.9rem;
    }
    /* product section */
    .product{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 1.5rem;
    }
    /* gallery section */
    .gallery{
        grid-template-columns: repeat(2,1fr);
        margin: 0 1.5rem;
    }  
}

/* Large devices  */
    
@media screen and (min-width:769px) and (max-width:992px){
    .gallery{
        grid-template-columns: repeat(3,1fr);
        margin: 0 2rem;
    } 
    .img-div{
        width: 12rem;
        height: 12rem;
    }
}